* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans", sans-serif;
}

#title {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: hsl(292, 42%, 14%);
}

#title img {
    margin: 40px 0px 20px 40px;
}

#title h1 {
    margin: 30px 0px 20px 20px;
}



#card {
    background-color: white;
    width: 600px;
    height: auto;
    position:absolute;
    top: 20%;
    left: 30%;
    border-radius: 10px;
    display:flexbox;
    flex-direction: column;
}

/* Estilize os botões usados ​​para abrir e fechar o painel recolhível */
.accordion {
    background-color: white;
    font-family: "Work Sans", sans-serif;
    color: hsl(292, 42%, 14%);
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Adicione uma cor de fundo ao botão se ele receber clique (adicione a classe .active com JS) e quando você passar o mouse sobre ele (hover) */
  .active, .accordion:hover {
    background-color: white;
    color: hsl(293, 40%, 42%);
  }
  
  /* Estilize o painel accordion. Nota: oculto por padrão */
  .painel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .accordion:after {
    content: '\02795'; /* Unicode (+) */
    font-size: 16px;
    color: white;
    background-color: hsl(293, 40%, 42%);
    border-radius: 50%;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode (-) */
  }
  
.answers {
    font-size: 16px;
    font-weight: 400;
    color: hsl(292, 16%, 49%);
    margin-top: 20px;
    display: none;
}
